<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<nav class="navbar navbar-default">
<div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/profile">My profile <span class="sr-only">(current)</span></a></li>
            <li><a href="/users">All users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


<div class="container">

    <div class="row">

        <!-- FACEBOOK INFORMATION -->

            <% if (users.length) { %>
                <% users.forEach(function(user) { %>
                    <div class="col-sm-3 text-center">
                        <a href="/user/<%= user.username %>" class="page-header text-center">
                            <img class="profile-pic" src="<%= user.profile_pic %>">
                            <h4></span><%= user.name %></h4>
                        </a>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="col-sm-12 text-center">
                    <h1>You are the only user yet</h1>
                </div>
            <% } %>

    </div>

</div>
</body>
</html>
