body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
    margin:10px auto;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 7px;
}

.image-btn {
    margin: 20px auto;
    display: block;
}

.profile-pic {
    border-radius: 50%;
}

.photos img {
    max-width: 300px;
    height:auto;
}